/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  // color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== LAYOUT ====================*/
.container {
  margin-left: var(--vw-6);
  margin-right: var(--vw-6);
}

.small__container {
  margin-left: var(--vw-6);
  margin-right: var(--vw-6);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: var(--mb-6) 0 var(--mb-3);
  width: 100%;
}
.small__section {
  padding: var(--mb-4) 0 var(--mb-4);
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

.floating_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  z-index: 300;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--floating-button-color);
  color: var(--font-color);
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .small__container {
    margin-right: var(--mb-0-5);
    margin-left: var(--mb-0-5);
  }
}
@media screen and (min-width: 427px) and (max-width: 769px) {
  .container {
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
}
